<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Show User

<div>

    <p th:text="${user1.getId()}">VALUE</p>
    <p th:text="${user1.getName()}">VALUE</p>
    <p th:text="${user1.getSurname()}">VALUE</p>

    <br/>

    <div th:each="role :${roles}">
        <p th:text="${role}"></p>

    </div>


</div>


<br/>

<p> Logout </p>
<form name="logoutForm" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>