<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/admin/{id}(id=${userById.getId()})}"
      th:object="${userById}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}"> Error
    </div>
    <br/>
    <label for="surname1">Surname</label>
    <input type="text" th:field="*{surname}" id="surname1"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}"
         th:errors="*{surname}"> Error
    </div>
    <br/>
    <label for="age1">Age</label>
    <input type="text" th:field="*{age}" id="age1"/>
    <br/>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>

    <br/>

    <br/>
    <label>
        <p>Select Roles(Multiple):
            <br/>
            <select name="select_role" multiple="multiple">
                <option th:each="role: ${rolesList}"
                        th:value="${role.id}" th:text="${role.getAuthority()}">
            </select>
        </p>
    </label>


    <input type="submit" value="Update!"/>
</form>


<p> Logout </p>
<form name="logoutForm" th:action="@{/logout}" method="post">
    <input  type="submit" value="Sign Out"/>
</form>

</body>
</html>