<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="ISO-8859-1">

    <title>My app</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>


</head>

<body>

<nav class="navbar navbar-dark bg-dark" id="navbar">
</nav>

<div class="card">
    <div class="card-top" style="background-color: lightgrey">
        <div class="container"
             style="font-weight: bold;font-size: 20px;border: 1px;margin: 5px">
            All users
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped" id="myTable" style="border-top: 1px">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody class="maintable" id="data">

            </tbody>
        </table>
    </div>
</div>


<!----------------------ADD USER FORM--------------------------------------->
<div class="col-md-12" style=" left: 34% ">
    <form class="add-user-form" id="userCreateForm">

        <div class="form-group col-md-4 " style="text-align: center; vertical-align: middle">
            <label for="username_create">First name</label>
            <input type="text" class="form-control" id="username_create"
            >
        </div>

        <div class="form-group col-md-4" style="text-align: center; vertical-align: middle">
            <label for="lastname_create">Last name</label>
            <input type="text" class="form-control" id="lastname_create"
            >
        </div>

        <div class="form-group col-md-4" style="text-align: center; vertical-align: middle">
            <label for="age_create">Age</label>
            <input type="text" class="form-control" id="age_create"
            >
        </div>

        <div class="form-group col-md-4" style="text-align: center; vertical-align: middle">
            <label for="inputEmail4_create">Email</label>
            <input type="email" class="form-control" id="inputEmail4_create"
            >
        </div>

        <div class="form-group col-md-4" style="text-align: center; vertical-align: middle">
            <label for="password_create">Password</label>
            <input type="password" class="form-control" id="password_create"
            />
        </div>

    </form>
</div>



<!--------------------------------MODAL EDIT------------------------------------------->

<div class="modal fade editmodal" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel"
     aria-hidden="true">
    <form th:action="@{/admin/update}" class="edit-user-form"
          method="POST">


        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_modal"
                               class="col-form-label">ID</label>
                        <input type="text" class="form-control"
                               id="id_modal"
                               name="id" >
                    </div>
                    <div class="form-group">
                        <label for="firstname"
                               class="col-form-label">First
                            name</label>
                        <input type="text" class="form-control"
                               id="firstname"
                               name="name" >
                    </div>
                    <div class="form-group">
                        <label for="lastname"
                               class="col-form-label">Last
                            name</label>
                        <input type="text" class="form-control"
                               id="lastname"
                               name="surname" >
                    </div>
                    <div class="form-group">
                        <label for="age"
                               class="col-form-label">Age</label>
                        <input type="text" class="form-control"
                               id="age"
                               name="age" >
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control"
                               id="email"
                               name="email">
                    </div>
                    <div class="form-group">
                        <label for="password"
                               class="col-form-label">Password</label>
                        <input type="password" class="form-control"
                               id="password" name="password">
                    </div>

                    <div class="form-group ">
                        <label>Role</label>
                        <select name="select_role" id="select_role_editform"
                                class="form-control"
                                multiple="multiple">
                            <option />
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary eBtn">
                        Edit
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--------------------------------MODAL DELETE------------------------------------------->

<div class="modal fade deletemodal" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel"
     aria-hidden="true">
    <form th:action="@{/admin/delete}" class="delete-user-form"
          method="DELETE">


        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_modal_delete"
                               class="col-form-label">ID</label>
                        <input type="text" class="form-control"
                               id="id_modal_delete"
                               name="id" >
                    </div>
                    <div class="form-group">
                        <label for="firstname_delete"
                               class="col-form-label">First
                            name</label>
                        <input type="text" class="form-control"
                               id="firstname_delete"
                               name="name" >
                    </div>
                    <div class="form-group">
                        <label for="lastname_delete"
                               class="col-form-label">Last
                            name</label>
                        <input type="text" class="form-control"
                               id="lastname_delete"
                               name="surname" >
                    </div>
                    <div class="form-group">
                        <label for="age_delete"
                               class="col-form-label">Age</label>
                        <input type="text" class="form-control"
                               id="age_delete"
                               name="age" >
                    </div>
                    <div class="form-group">
                        <label for="email_delete" class="col-form-label">Email</label>
                        <input type="text" class="form-control"
                               id="email_delete"
                               name="email">
                    </div>

                    <div class="form-group ">
                        <label>Role</label>
                        <select name="select_role" id="select_role_deleteform"
                                class="form-control"
                                multiple="multiple">
                            <option />
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary delBtn">
                        Delete
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script async type="text/javascript" th:src="@{js/main.js}" ></script>
<script async type="text/javascript" th:src="@{js/secondOne.js}" ></script>


<script></script>
</body>

</html>