 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name1">Name</label>
    <input type="text" th:field="*{name}" id="name1">
    <div style="color: red" th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}"  > Error  </div>
<br/>
     <label for="surname1">Surname</label>
    <input type="text" th:field="*{surname}" id="surname1">
    <div style="color: red"  th:if="${#fields.hasErrors('surname')}"
         th:errors="*{surname}"  > Error  </div>
<br/>
     <label for="age1">Age</label>
    <input type="text" th:field="*{age}" id="age1">
<!--    <div style="color: red"  th:if="${#fields.hasErrors('age')}"-->
<!--         th:errors="*{age}"  > Error  </div>-->

    <br/>
    <label>
        <p>Select Roles(Multiple):
            <br/>
            <select name="select_role" multiple="multiple">
                <option th:each="role: ${roles}"
                        th:value="${role.id}" th:text="${role.getAuthority()}">
            </select>
        </p>
    </label>



    <br/>
    <input type="submit" value="Create">
</form>


<br/>

<p> Logout </p>
<form name="logoutForm" th:action="@{/logout}" method="post">
    <input  type="submit" value="Sign Out"/>
</form>
</body>
</html>